@use "../Utils/mixins" as m;
@use "../Themes/colours" as c;

.alarm-card-display {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 85%;
  gap: 4%;
}

.set-alarm {
  width: 50%;
  height: 35%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
  @include m.section-generic-style;
  border-radius: 5px;
}

.set-alarm-field {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  input {
    width: 45%;
  }
}

.controls {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  button {
    width: 49%;
    height: 3rem;
    border: thin solid c.$main-white;
    border-radius: 5px;
    background-color: c.$dark-blue-btn;
    color: c.$main-white;
    cursor: pointer;
  }

  button:hover {
    opacity: 0.7;
  }
}

//SECTION  WITH CLASS "ALARM-LIST"
.alarm-list {
  width: 50%;
  text-align: center;
}

//LIST WITH ID "ALARM-LIST WHERE STORED LIST WILL BE DISPLAYED
#alarm-list {
  list-style-type: none;
}

//EVERY LIST ITEM WITH ALARM STORED
.time-list {
  @include m.section-generic-style;
  width: 100%;
  height: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2%;

  button.delete-alarm {
    height: 100%;
    border: solid thin c.$main-white;
    background-color: c.$dark-blue-btn;
    color: c.$main-white;
    cursor: pointer;
  }
}
