@use "../Themes/colours" as c;

.body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  z-index: 0;
  overflow: hidden;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  color: c.$main-white;
}

.day-mode {
  background-image: url("../Assets/background-image.jpeg");
  background-size: cover;

  .home-title,
  .title {
    color: c.$bg-black;
  }
}

.night-mode {
  background-image: url("../Assets/night-bg.jpg");
  background-size: cover;

  .home-title,
  .title {
    color: c.$main-white;
  }
}
