@use "../Themes/colours" as c;

//WIDTHS
@media (max-width: 950px) {
  //NAVUGATION BAR
  .nav-bar {
    width: 20%;
  }
  .section {
    width: 80%;
  }
  //SECTION CARDS
  .section-card {
    width: 90%;
  }

  //CLOCK SECTIONN
  .clock-showed {
    width: 45%;
  }
  .clock-buttons {
    width: 65%;
  }
  //TIMER SECTION
  .timer {
    width: 90%;
  }
}

@media (max-width: 650px) {
  //Section card styles
  .section-card {
    width: 85%;
  }
  .section {
    width: 85%;
  }
  //Navbar
  .nav-bar {
    width: 13%;
  }
  //Navbar buttons
  .btn {
    border: none;
    box-shadow: none;
    background-color: c.$bg-color;
  }
}

@media (max-width: 500px) {
  .section {
    width: 100%;
    height: 90%;
  }

  .nav-bar {
    width: 100%;
    height: 10%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
  }

  .alarm-card-display {
    align-self: flex-end;
  }
}

@media (max-width: 390px) {
  .section-card {
    width: 98%;
    height: 80%;
    align-self: flex-end;
  }
}

//HEIGHTS
@media (max-height: 500px) {
  //Sections card
  .section-card {
    width: 95%;
    height: 95%;
  }

  //General font size
  .title,
  #clock,
  #stopwatch,
  .alarm-input {
    font-size: 2.5rem;
  }

  .bloque {
    .timer-input {
      font-size: 3rem;
    }
  }

  //Stopwatch size
  .circle {
    width: 12rem;
    height: 12rem;
  }
  .stop {
    width: 20px;
    height: 20px;
  }
  .paused {
    height: 20px;
    border-width: 10px 0 10px 20px;
  }
  .running {
    border-width: 0 0 0 15px;
  }

  //Clock size
  .clock-buttons {
    width: 30%;
    height: 15%;
  }

  //Timer size

  //Alarm size
  .controls {
    button {
      height: 2rem;
      width: 45%;
    }
  }

  //Icons size
  .image {
    height: 25px;
    width: 25px;
  }
}

@media (min-height: 800px) {
  .body {
    flex-flow: row wrap;
  }

  .section {
    width: 100%;
    height: 90%;
  }

  .nav-bar {
    width: 100%;
    height: 10%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
  }

  .section-card {
    width: 90%;
  }

  .btn {
    width: 20%;
    height: 45%;
  }

  //STOPWATCH
  .circle {
    height: 20rem;
    width: 20rem;
  }

  .alarm-card-display {
    margin-top: 15%;
  }

  .title {
    font-size: 2.5rem;
  }
}
