@use "../Utils/mixins" as m;
@use "../Themes/colours" as c;

.alarm-card-display {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 85%;
  gap: 4%;
  // margin-top: 4%;
}

.alarm-card-display-full-screen {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 0;
  gap: 3%;
}

.set-alarm {
  width: 50%;
  height: 35%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
  @include m.section-generic-style;
  border-radius: 5px;
}

.set-alarm-field {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.alarm-input {
  width: 45%;
  background-color: c.$bg-black;
  color: c.$main-white;
  border-radius: 5px;
  text-align: center;
  border: none;
  font-size: 2rem;
  font-family: "Bakbak One", cursive;
  font-family: "Mukta", sans-serif;
  font-family: "Readex Pro", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Rubik", sans-serif;
  font-family: "Share Tech Mono", monospace;
  text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
}
.alarm-input::placeholder {
  color: inherit;
}

.controls {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  button {
    width: 49%;
    height: 3rem;
    border: thin solid c.$main-white;
    border-radius: 5px;
    background-color: c.$dark-blue-btn;
    color: c.$main-white;
    cursor: pointer;
  }

  button:hover {
    opacity: 0.7;
  }
}

//SECTION  WITH CLASS "ALARM-LIST"
.alarm-list {
  width: 50%;
  text-align: center;
}

//LIST WITH ID "ALARM-LIST WHERE STORED LIST WILL BE DISPLAYED
#alarm-list {
  list-style-type: none;
}

.alarm-heading {
  @include m.section-generic-style;
  padding: 1.5%;
  border-radius: 5px;
  margin-bottom: 1%;
  font-family: "Bakbak One", cursive;
  font-family: "Mukta", sans-serif;
  font-family: "Readex Pro", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Rubik", sans-serif;
  font-family: "Share Tech Mono", monospace;
}

//EVERY LIST ITEM WITH ALARM STORED
.time-list {
  @include m.section-generic-style;
  width: 100%;
  height: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2%;
  border-radius: 5px;
  font-family: "Bakbak One", cursive;
  font-family: "Mukta", sans-serif;
  font-family: "Readex Pro", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Rubik", sans-serif;
  font-family: "Share Tech Mono", monospace;

  button.delete-alarm {
    height: 100%;
    border: solid thin c.$main-white;
    background-color: c.$dark-blue-btn;
    color: c.$main-white;
    cursor: pointer;
    font-family: "Bakbak One", cursive;
    font-family: "Mukta", sans-serif;
    font-family: "Readex Pro", sans-serif;
    font-family: "Roboto", sans-serif;
    font-family: "Rubik", sans-serif;
  }
}
