@use "../Themes/colours" as c;

.body {
  width: 100vw;
  height: 100%;
  box-sizing: border-box;
  z-index: 0;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  color: c.$main-white;
}

.day-mode {
  background-image: url("../Assets/background-image.jpeg");
  background-size: cover;
}

.night-mode {
  background-image: url("../Assets/night-bg.jpg");
  background-size: cover;
}
