@use "../Themes/colours" as c;
@use "../Utils/mixins" as m;

.nav-bar {
  width: 15%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  background-color: c.$bg-black;
  color: c.$main-white;
  box-shadow: 0 3px 15px #111;
}

.btn {
  width: 55%;
  height: 8%;
  @include m.buttons;
}

.image {
  object-fit: cover;
  height: 40px;
  width: 40px;
  color: c.$navbar-color;
}
