@use "../Themes/colours" as c;
@use "../Utils/mixins" as m;

.title {
  @include m.section-generic-style;
  padding: 2%;
  border-radius: 5px;
  font-size: 2.5rem;
  font-family: "Bakbak One", cursive;
  font-family: "Mukta", sans-serif;
  font-family: "Readex Pro", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Rubik", sans-serif;
  font-family: "Share Tech Mono", monospace;
  align-self: center;
}

.section {
  width: 85%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.section-card {
  @include m.section-generic-style;
  width: 60%;
  height: 70%;
  border-radius: 5px;
}
