@use "../Utils/mixins" as m;
@use "../Themes/colours" as c;

.timer-card-display {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}

.timer {
  border-radius: 5px;
  width: 80%;
  height: 60%;
  @include m.section-generic-style;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.bloque {
  width: 30%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  .timer-input {
    background-color: c.$bg-black;
    color: c.$main-white;
    border-radius: 5px;
    text-align: center;
    border: none;
    font-size: 4rem;
    font-family: "Bakbak One", cursive;
    font-family: "Mukta", sans-serif;
    font-family: "Readex Pro", sans-serif;
    font-family: "Roboto", sans-serif;
    font-family: "Rubik", sans-serif;
    font-family: "Share Tech Mono", monospace;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
  }
}

.timer-buttons {
  display: inline-flex;
  justify-content: center;
  height: 30%;
  width: 20%;
}
